.about-page {
    background-color: $background-color;
    max-width: 100vw;
    min-height: 60vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .about-me-img {
        max-width: 40%;
        height: auto;
        border: 3px solid $border-color;
        border-radius: 5px;
    }

    .about-details {
        max-width: 50%;
        border: 3px solid $border-color;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        color: $text-color;
        font-family: $font-stack;

        p {
            margin-bottom: 15px;
        }

        .downloadcv {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: lighten($clGreenTxt, 10%);
            // background-color: $clGreenTxt;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: background-color .3s ease;
            width: rem(170px);
            height: rem(40px);
            color: black;
            text-align: center;
            border: 1px solid black;
            transition: background-color .3s ease, font-size .3s ease;

            &:hover {
                background-color: darken($clGreenTxt, 10%);
                font-size: 18px;
            }
        }
    }
}

@include for-mobile-layout {
    .about-page {
        .about-details {
            max-width: 87%;

            p {
                margin: 0;

                .about-me-web {
                    display: none;
                }
            }

            .about-me-mobile {
                display: block;
            }

            .downloadcv {
                width: rem(160px);
            }
        }
    }
}