.about-page {
    background-color: $background-color;
    max-width: 100vw;
    min-height: 60vh; // Increased height for better spacing
    box-sizing: border-box;
    display: flex;
    justify-content: space-around; // Adjusted for better spacing
    align-items: center; // Vertically center contents
    padding: 20px 0; // Add padding for spacing from edges

    .about-me-img {
        max-width: 40%; // Responsive width
        height: auto; // Keep aspect ratio
        border: 3px solid $border-color;
        border-radius: 5px; // Soften edges
    }

    .about-details {
        max-width: 50%; // Responsive width
        border: 3px solid $border-color;
        padding: 20px; // Inner spacing
        border-radius: 5px; // Soften edges
        background-color: white; // Background to contrast with page
        color: $text-color;
        font-family: $font-stack;

        p {
            margin-bottom: 15px; // Spacing between paragraphs
        }

        .downloadcv {
            margin-top: 20px;
            padding: 10px 15px; // Adjusted padding for better touch
            background-color: $primary-color;
            border: none; // Remove border
            border-radius: 7px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 20%;

            &:hover {
                background-color: $button-hover-color;
                color: white; // Change text color on hover for contrast
            }
        }
    }
}

@include for-mobile-layout {
    .about-page {
        .about-details {
            max-width: 87%;

            p {
                margin: 0;

                .about-me-web {
                    display: none;
                }
            }

            .about-me-mobile {
                display: block;
            }

            .downloadcv {
                width: 40%;
            }
        }
    }
}