.skills-page-two {
    background-color: #121212;
    color: #000;
    max-width: 100vw;
    min-height: 65vh;

    img {
        width: rem(588px);
        height: rem(108px);
        object-fit: contain;
    }

    .skills-cards {

        justify-content: space-around;

        .card-one,
        .card-two,
        .card-three {
            margin-top: rem(30px);
            margin-bottom: rem(15px);
            width: rem(400px);
            height: rem(400px);
            background-color: SlateGrey;
            padding: 32px;
            border-radius: 20px;
            justify-content: space-between;
            cursor: pointer;

            @include for-mobile-layout {
                margin-top: rem(15px);

                width: 90vw;
                height: 90vw;
            }

            &:hover,
            :hover {
                box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
                    0 0 0 2px white,
                    0.3em 0.3em 1em rgb(200 0 0 / 60%);
                color: white;
            }

            img {
                width: 200px;
                height: 200px;
                margin-right: 10px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}


@include for-mobile-layout {

    .skills-page-two {
        img {
            width: 25rem;
        }

        .skills-cards {
            flex-direction: column;

        }
    }
}