// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #212121;

$clblack: #222222;
$clgrey: #717171;
$clGreyMid: #ccc;
$clGreyLighter: #F7F7F7;
$clGreenTxt: #08ff98fb;

// Breakpoints
$mobile-breakpoint: 502px;
$narrow-breakpoint: 665px;
$normal-breakpoint: 1048px;
$wide-breakpoint: 1280px;